@font-face {
  font-family: "SpaceGrotesk";
  src: url("@foxglove/studio-base/styles/assets/SpaceGrotesk-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("@foxglove/studio-base/styles/assets/SpaceGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
}
